# RunFlare → سرویس Django → Environment Variables
# دامنه‌ها: ovyraworld.runflare.run + ovyraword.runflare.run + runflare.cloud

DEBUG=False
SECRET_KEY=CHANGE-ME-generate-a-long-random-secret-key

ALLOWED_HOSTS=ovyraworld.runflare.run,ovyraword.runflare.run,ovyraworld-nd7-ovyraworld.runflare.cloud,localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=https://ovyraworld.runflare.run,https://ovyraword.runflare.run,https://ovyraworld-nd7-ovyraworld.runflare.cloud
CSRF_TRUSTED_ORIGINS=https://ovyraworld.runflare.run,https://ovyraword.runflare.run,https://ovyraworld-nd7-ovyraworld.runflare.cloud

USE_LOCAL_DB=False
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=root
DB_PASSWORD=YOUR_RUNFLARE_DB_PASSWORD
DB_HOST=YOUR_RUNFLARE_DB_HOST
DB_PORT=5432

USE_REDIS=False
REDIS_HOST=
REDIS_PORT=6379

ZARINPAL_MERCHANT_ID=YOUR_ZARINPAL_MERCHANT_ID
ZARINPAL_SANDBOX=False
ZARINPAL_CURRENCY_UNIT=IRT
FRONTEND_PAYMENT_RETURN_PATH=/orders

SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000

BUILD_FRONTEND_ON_SERVER=0
